body{
    font-family: 'Roboto', sans-serif;
    margin: auto;
}
.parrafoPrincipal{
    text-align: center;
    background-color: white;
    margin: 0;
}
.parrafo{
    color: white;
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
a{
    margin: 50px 20px;
    font-size: 25px;
    text-decoration: none;
    color: black;
}
#sobreN{
    color: green;
    text-decoration: none;
}
a:hover{
    color: green;
}