/* Bordered form */
form {
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.login{
  background-image: url(pantallaLogIn.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border: none;
  height: 900px;
  /* position: absolute; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.header{
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  /* margin: -50vh 0 15vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  background: solid #000;
}
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    padding: 12px 20px;
    margin: 5px 0 25px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  .greenButton{
    text-align: center;
  }

  .footer{
    margin: 0 0 0 0;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 10px 0 10px;
    text-align: center;
    border: none;
    cursor: pointer;
    width: 25%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 1em 2em;
    margin: 0 0 0 -1.3vw;
    background-color: #f44336;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  /* Add padding to containers */
  .container {
    padding: 640px;
    font-family: 'Roboto', sans-serif;
   width: 10px;
   height: 600px;
   justify-content: center; 
   align-content: center;
   display: grid;
   background-color: coral;
   position: absolute;
   top: 350px;
   transform: translateY(-40%);
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
    font-size: 5px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }

  }