body{
    font-family: 'Roboto', sans-serif;
    margin: auto;
}
.parrafoPrincipal{
    text-align: center;
    margin: 0;
    font-size: x-large;
}
.parrafo{
    color: #fff;
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
    font-size: x-large;
}
h5{
    text-align: center;
    color: #fff;
    font-size: xx-large;
}
h6{
    text-align: center;
    color: #fff;
    font-size: x-large;
}
a{
    margin: 50px 20px;
    font-size: 25px;
    text-decoration: none;
    color: #fff;
}
#sobreN{
    color: green;
    text-decoration: none;
}
a:hover{
    color: green;
}